.col-md-2 {
  border: 1px solid lightsteelblue;
  border-radius: 5px;
  margin: 15px;
  background-color: lavender;
  width: 18%;
  color: gray;
  padding-top: 10px;
  font-size: small;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}
