<div class="main-content">
  <div class="container-fluid" *ngIf="isLoaded === true">
    <h1 class="text-center">{{title}}</h1>
    <div class="col-md-3" *ngFor="let usersTeam of usersTeams">
        <div class="content">
          <p>Activated Date: {{usersTeam.activateDate}}</p>
          <p>Deactivated Date: {{usersTeam.deactivateDate}}</p>
          <div >
            <div *ngFor="let user of usersTeam.users">
              <p>{{user.name}}</p>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
