<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">{{title}}</h1>
      <table class="table table-bordered table-hover table-striped">
        <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Directions</th>
          <th>Slack</th>
          <th>Skype</th>
        </tr>
        </thead>
        <tbody *ngIf="isLoaded == true">
        <tr *ngFor="let keeper of keepersDetails; let i = index">
          <td>{{i+1}}</td>
          <td class="name" (click)="gotoDetail(keeper.uuid)">{{keeper.name}}</td>
          <td>{{keeper.directions}}</td>
          <td>{{keeper.slack}}</td>
          <td>{{keeper.skype}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
