<h1>{{title}}</h1>
<h2>Users</h2>
<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>#</th>
        <th class="col0"></th>
        <th class="col1" (click)="setKey('uid')">ID</th>
        <th class="col2" (click)="setKey('pointSum')">Джуджики</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users | sorting: key : counter; let i = index "
        [class.selected]="user === selectedUser"
        (click)="onSelect(user, i)">
        <td>{{i+1}}</td>
        <td><input class="check" type="checkbox"/></td>
        <td>{{user.uid}}</td>
        <td class="col2">{{user.pointSum}}</td>
    </tr>
    </tbody>
</table>
